body {
    color:#666666;
    font-family: "HYXiXingKaiW";
}

.wy-title {
    text-align:left;
    font-size:20px;
    color:#333;
    margin-left:10px;

}

.wy-time-comment-container {
    display:block,
}

.wy-time {
    text-align:left;
    font-size:15px;
    color:gray;
    margin-top:7px;
    margin-bottom:7px;
    margin-left:10px;
    display: inline-block;
}

.wy-newcomment {
    font-size:15px;
    text-decoration:none;
    color:gray;
/*    color:#f33;*/
    float:right;
    display: inline-block;
    margin-right:10px;
}

.wy-img-parent {
    text-align:center;
    margin-bottom:10px;
    
}

