<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>300400</key>
	<string>客户端请求不能被识别</string>
	<key>300405</key>
	<string>请求的AppKey为空</string>
	<key>300406</key>
	<string>请求的AppKey不存在</string>
	<key>300407</key>
	<string>请求提交的数据缺少必要的数据</string>
	<key>300408</key>
	<string>无效的请求参数</string>
	<key>300418</key>
	<string>内部接口调用失败</string>
	<key>300450</key>
	<string>无权执行该操作</string>
	<key>300454</key>
	<string>请求传递的数据格式错误，服务器无法转换为JSON格式的数据</string>
	<key>300455</key>
	<string>签名无效</string>
	<key>300456</key>
	<string>提交的手机号码或者区号为空</string>
	<key>300457</key>
	<string>提交的手机号格式不正确（包括手机的区号）</string>
	<key>300458</key>
	<string>手机号码在发送黑名单中</string>
	<key>300459</key>
	<string>获取appKey控制发送短信的数据失败</string>
	<key>300460</key>
	<string>没有打开客户端发送短信的开关</string>
	<key>300461</key>
	<string>没有开通给当前地区发送短信的功能</string>
	<key>300462</key>
	<string>每分钟发送短信的数量超过限制</string>
	<key>300463</key>
	<string>手机号码在当前APP内每天发送短信的次数超出限制</string>
	<key>300464</key>
	<string>每台手机每天发送短信的次数超限</string>
	<key>300465</key>
	<string>手机号码在APP中每天发送短信的数量超限</string>
	<key>300466</key>
	<string>提交的校验验证码为空</string>
	<key>300467</key>
	<string>5分钟内校验错误超过3次，验证码失效</string>
	<key>300468</key>
	<string>用户提交校验的验证码错误</string>
	<key>300469</key>
	<string>没有打开通过网页端发送短信的开关</string>
	<key>300470</key>
	<string>账户的短信余额不足</string>
	<key>300471</key>
	<string>通过服务端发送或验证短信的IP错误</string>
	<key>300472</key>
	<string>客户端请求发送短信验证过于频繁</string>
	<key>300473</key>
	<string>服务端根据duid获取平台错误</string>
	<key>300474</key>
	<string>没有打开服务端验证开关</string>
	<key>300475</key>
	<string>appKey的应用信息不存在</string>
	<key>300476</key>
	<string>当前appkey发送短信的数量超过限额</string>
	<key>300477</key>
	<string>当前手机号发送短信的数量超过限额</string>
	<key>300478</key>
	<string>当前手机号码在当前应用下12小时内最多可发送文本验证码5条</string>
	<key>300479</key>
	<string>SDK请求缺少必要参数</string>
	<key>300480</key>
	<string>客户端在获取令牌的接口中没有传递aesKey</string>
	<key>300500</key>
	<string>服务端程序报错</string>
</dict>
</plist>
